<template>
    <v-row>
        <v-col cols="12" class="text-center">
            <v-list>
                <v-subheader>
                    <h2>
                        Artículos
                        <v-btn
                                @click="$refs.articleForm.open()"
                                color="primary"
                                fab x-small
                            >
                            <v-icon>add</v-icon>
                        </v-btn>
                    </h2>
                </v-subheader>
                <template v-for="(article, key) in articles">
                    <v-list-item :key="key">
                        <v-list-item-avatar>
                            <v-img :src="`dist/${article.picture}`" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-content>
                                <v-list-item-title>{{ article.title }}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-btn
                                    @click="openArticle(article)"
                                    icon
                                >
                                <v-icon>send</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                    <v-divider :key="`${key}b`" />
                </template>
            </v-list>
        </v-col>
        <ArticleView ref="articleView" />
        <ArticleForm ref="articleForm" />
    </v-row>
</template>

<script>
import { mapActions, mapGetters, mapMutations }  from 'vuex'
import ArticleView from '../components/ArticleView'
import ArticleForm from '../components/ArticleForm'

export default {
    components: {
        ArticleView, ArticleForm
    },
    methods: {
        ...mapActions(['getArticles']),
        ...mapMutations(['setArticle']),
        openArticle(article) {
            this.setArticle(article)
            this.$refs.articleView.open()
        }
    },
    computed: {
        ...mapGetters(['articles'])
    },
    mounted() {
        EventBus.$on('api/articles-file', this.getArticles)
        this.getArticles()
    }
}
</script>
