<template>
    <v-app>
        <v-menu />
        <v-container fill-height>
            <router-view />
        </v-container>
        <v-loader />
        <v-message />
    </v-app>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    methods: {
        ...mapActions(['getUser'])
    },
    mounted() {
        this.getUser()
    }
}
</script>
