<template>
    <v-dialog
      v-model="dialog"
      transition="dialog-bottom-transition"
      fullscreen
      hide-overlay
    >
      <v-card>
        <v-toolbar
                color="primary"
                dense dark
            >
            <v-toolbar-title>{{ article.title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn
                        @click="dialog = false"
                        icon dark
                    >
                    <v-icon>close</v-icon>
                </v-btn>
             </v-toolbar-items>
        </v-toolbar>
        <v-card-text class="pa-5">
            <v-container>
                <v-row>
                    <v-col sm="6" cols="12">
                        <v-row align="center" justify="center">
                            <v-col cols="6">
                                <v-img :src="`dist/${article.picture}`" />
                            </v-col>
                            <v-col cols="12">
                                <h4 class="primary--text text-center pa-5">Autor: <strong>{{ article.user.name }}</strong></h4>
                                <h4 class="text-center pa-5">{{ date }}</h4>
                                <h4>{{ article.article }}</h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col sm="6" cols="12">
                        <v-row>
                            <v-col cols="12" class="text-center">
                                <h4>COMENTARIOS:
                                    <v-btn
                                            @click="$refs.commentForm.open(article.id)"
                                            color="primary"
                                            fab x-small
                                        ><v-icon>add</v-icon>
                                    </v-btn>
                                </h4>
                            </v-col>
                            <v-col cols="12" v-for="(comment, key) in article.comments" :key="key">
                                <v-card color="grey lighten-3">
                                    <v-card-text>
                                        <v-row>
                                            <v-col cols="6">
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-rating
                                                            :value="comment.rating"
                                                            empty-icon="star_outline"
                                                            full-icon="star"
                                                            half-icon="star_half"
                                                            length="5"
                                                            size="16"
                                                            readonly
                                                        />
                                                    </v-col>
                                                    <v-col cols="12">
                                                        Nombre: <strong>{{ comment.user.name }}</strong>
                                                    </v-col>
                                                    <v-col cols="12">
                                                        Email: <strong>{{ comment.user.email }}</strong>
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6">
                                                <v-row>
                                                    <v-col cols="12" class="text-right">
                                                        {{ dateFormat(comment.created_at) }}
                                                    </v-col>
                                                    <v-col cols="12">
                                                        {{ comment.comment }}
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
      </v-card>
      <CommentForm ref="commentForm" />
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import CommentForm from './CommentForm'

export default {
    components: { CommentForm },
    data() {
        return {
            dialog: false
        }
    },
    methods: {
        ...mapActions(['getArticleComments', 'getArticles']),
        open() {
            this.dialog = true
        },
        getComments(val) {
            this.getArticleComments(this.article.id)
        },
        dateFormat(date) {
            let d = date.substr(0, 10).split('-'),
                m = 'Enero';
            switch(d[1]) {
                case '02': m = 'Febrero';    break;
                case '03': m = 'Marzo';      break;
                case '04': m = 'Abril';      break;
                case '05': m = 'Mayo';       break;
                case '06': m = 'Junio';      break;
                case '07': m = 'Julio';      break;
                case '08': m = 'Agosto';     break;
                case '09': m = 'Septiembre'; break;
                case '10': m = 'Octubre';    break;
                case '11': m = 'Noviembre';  break;
                case '12': m = 'Diciembre';
            }
            return `${d[2]} de ${m} de ${d[0]}`
        }
    },
    computed: {
        ...mapGetters(['article']),
        date() {
            if (this.article.created_at)
                return this.dateFormat(this.article.created_at)
        }
    },
    mounted() {
        EventBus.$on('api/comments-put', this.getComments)
    }
}
</script>
