<template>
    <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
        <v-card>
            <v-card-title>
                <span class="headline">Nuevo Artículo</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-form ref="form">
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                label="Título *"
                                v-model="title"
                                :rules="[required]"
                                required
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-file-input
                                label="Imagen"
                                v-model="picture"
                                accept="image/*"
                                prepend-icon="camera"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-textarea
                                label="Texto"
                                v-model="article"
                                :rules="[required]"
                                name="input-6-1"
                                hint="Texto del artículo"
                                required
                            />
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="grey darken-1"
                        @click="dialog = false"
                        text
                    >
                    <v-icon left>close</v-icon> Cerrar
                </v-btn>
                <v-btn
                        color="green darken-1"
                        @click="save"
                        text
                    >
                    <v-icon left>done</v-icon> Guardar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
    data() {
        return {
            dialog: false,
            required: v => !!v || 'Campo requerido'
        }
    },
    methods: {
        ...mapActions([
            'saveArticle', 'cleanArticleToSave'
        ]),
        ...mapMutations([
            'setArticleTitle', 'setArticlePicture', 'setArticleArticle'
        ]),
        save() {
            /** Validar que los campos requeridos sean llenados */
            if (this.$refs.form.validate()) {
                /** Crear el Artículo */
                this.saveArticle(this.$store.state.system.user.id)
                /** Cerra el Modal */
                this.$nextTick(() => {
                    this.close()
                })
            }
        },
        /** Limpiar los campos y abrir el Modal */
        open() {
            this.cleanArticleToSave()
            this.dialog = true
        },
        close() {
            this.dialog = false
        }
    },
    computed: {
        ...mapGetters(['articleToSave']),
        /** Modelo para título */
        title: {
            get() { return this.articleToSave.title },
            set(title) { this.setArticleTitle(title) }
        },
        /** Modelo para imagen  */
        picture: {
            get() { return this.articleToSave.picture },
            set(picture) { this.setArticlePicture(picture) }
        },
        /** Modelo para artículo */
        article: {
            get() { return this.articleToSave.article },
            set(article) { this.setArticleArticle(article) }
        }
    }
}
</script>
