<template>
    <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
        <v-card>
            <v-card-title>
                <span class="headline">Nuevo Comentario</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-form ref="form">
                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                label="Comentario *"
                                v-model="commentForm"
                                :rules="[required]"
                                name="input-6-1"
                                hint="Comentario sobre el artículo"
                                required
                            />
                        </v-col>
                        <v-col cols="12" class="text-center">
                            Calificación<br>
                            <v-rating
                                v-model="ratingForm"
                                empty-icon="star_outline"
                                full-icon="star"
                                half-icon="star_half"
                                length="5"
                                size="32"
                                hover
                            />
                        </v-col>
                    </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="grey darken-1"
                        @click="close"
                        text
                    >
                    <v-icon left>close</v-icon> Cerrar
                </v-btn>
                <v-btn
                        color="green darken-1"
                        @click="save"
                        text
                    >
                    <v-icon left>done</v-icon> Guardar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
    data() {
        return {
            dialog: false,
            required: v => !!v || 'Campo requerido'
        }
    },
    methods: {
        ...mapActions([
            'saveComment', 'cleanComment'
        ]),
        ...mapMutations([
            'setCommentIdArticle', 'setCommentRating',
            'setComment'
        ]),
        save() {
            /** Validar que los campos requeridos sean llenados */
            if (this.$refs.form.validate())
                /** Crear el Comentario */
                this.saveComment(this.$store.state.system.user.id)
                /** Cerra el Modal */
                this.$nextTick(() => {
                    this.close()
                })
        },
        open(id_article) {
            /** Asignar el id del artículo a comentar */
            this.setCommentIdArticle(id_article)
            this.cleanComment()
            /** Abrir el modal */
            this.dialog = true
        },
        close() {
            this.dialog = false
        }
    },
    computed: {
        ...mapGetters(['comment']),
        commentForm: {
            get() { return this.comment.comment },
            set(comment) { this.setComment(comment) }
        },
        ratingForm: {
            get() { return this.comment.rating },
            set(rating) { this.setCommentRating(rating) }
        }
    }
}
</script>
