<template>
    <v-dialog
            transition="dialog-bottom-transition"
            v-model="dialog"
            max-width="600"
        >
        <v-card>
            <v-toolbar
                    color="primary"
                    dark
                >Esaim's App
            </v-toolbar>
            <v-card-text>
                <div class="text-h5 pa-12 text-center">{{ $store.state.system.modal.message }}</div>
            </v-card-text>
            <v-card-actions class="justify-end">
                <v-btn
                        @click="$store.dispatch('closeDialog', false)"
                        text
                    >Cerrar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    computed: {
        dialog: {
            get() { return this.$store.state.system.modal.display },
            set(val) { this.$store.dispatch('closeDialog', val) }
        }
    }
}
</script>
