<template>
    <v-dialog
            v-model="setLoader"
            width="300"
            hide-overlay
            persistent
        >
        <v-card
                color="primary"
                dark
            >
            <v-card-text>
                Cargando...
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                />
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    computed: {
        setLoader: {
            get() { return this.$store.state.system.loader },
            set(val) { this.$store.commit('setLoader', val) }
        }
    }
}
</script>
