<template>
    <v-toolbar
            color="primary"
            dense dark
        >
        <v-btn text>Hola {{ $store.state.system.user.name }}</v-btn>
        <v-spacer />
        <form action="/logout" method="GET">
            <v-btn type="submit" text>Logout</v-btn>
        </form>
    </v-toolbar>
</template>
